@using Selly.NMS.Web.ViewModels.PolicyRule
@model Policy
@{
    ViewData["Title"] = "View Policy";
}

<div class="bg-primary panel-body"><h4>@Model.Name</h4></div>

<div class="btn-group" style="margin:20px">
    <a asp-action="CreatePolicyRule" asp-route-id="@Model.Id" class="btn btn-primary">Create Rule</a>
    <a asp-controller="Policy" asp-action="ApplyPolicy" asp-route-id="@Model.Id" class="btn btn-primary">Apply Policy</a>
    <a asp-controller="Policy" asp-action="ConfirmDeletion" asp-route-id="@Model.Id" class="btn btn-danger">Delete Policy</a>
</div>

<table class="table table-condensed table-bordered" style="table-layout:fixed">
    <tr><th>Name</th><th>Action</th><th>Protocol</th><th>Direction</th><th>Remote Address</th><th>Remote Port</th><th>Local Address</th><th>Local Port</th></tr>

    @if (Model.Rules.Count() == 0)
    {
        <tr><td colspan="8" class="text-center">No Rules</td></tr>
    }
    else
    {
        foreach (PolicyRuleVM rule in ViewBag.Rules)
        {
            <tr>
                <td><a asp-action="View" asp-route-ruleId="@rule.Id">@rule.Name</a></td>
                <td>@rule.Action</td>
                <td>@rule.Protocol</td>
                <td>@Enum.GetName(typeof(Direction), rule.Direction)</td>
                <td>@rule.RemoteAddress</td>
                @if (rule.RemotePort == null)
                {
                    <td style="color:red">UNSUPPORTED</td>
                }
                else if (rule.RemotePort == Rule.ANY_PORT)
                {
                    <td>ANY</td>
                }
                else
                {
                    <td>@rule.RemotePort</td>
                }
                <td>@rule.LocalAddress</td>
                @if (rule.LocalPort == null)
                {
                    <td style="color:red">UNSUPPORTED</td>
                }
                else if (rule.LocalPort == Rule.ANY_PORT)
                {
                    <td>ANY</td>
                }
                else
                {
                    <td>@rule.LocalPort</td>
                }
            </tr>
        }
    }
</table>